body {
  background: url(./images/background.jpg) center / cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion {
  width: 65%;
  background-color: rgb(200, 223, 244);
  padding: 30px;
  border-radius: 70px;
}

.accordion-title {
  margin-bottom: 20px;
  text-align: start;
}

.accordion .content-container .question {
  padding: 18px 0px;
  font-size: 1.2rem;
  border-bottom: 3px solid black;
  cursor: pointer;

  position: relative;
}

.question::after{
  content: '+';
  position: absolute;
  right: -5px;
   
}
.answer {
  padding-top: 15px;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: .5s;
}

/* JSstyling link */
/* Short version */
.active .answer {
  height: 150px;
}

.active .question{
  font-size: 18px;
  transition: .5s;
}
.active .question::after{
  content: '-';
  font-size: 30px;
  transition: .5s;
}
